@use "index.scss";

.customize {
  .color,
  .fonts {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    h2 {
      font-size: 1.6em;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  .color {
    div {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 1.2em;
      }
      input {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      input[type="color"]::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
      }

      input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
      }
    }
  }

  .fonts {
    div {
      display: flex;
      gap: 10px;

      h3 {
        font-size: 1.5em;
        margin-bottom: 5px;
      }
    }
    button {
      @include index.button-styling();
      border: 1px solid black;
      width: 60px;
      padding: 10px 0px;
      transition: background-color 0.2s, color 0.2s;
    }
  }

  #active {
    background-color: var(--resume-accent);
    color: white;
  }
}
