@mixin button-styling {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Custom CSS */

:root {
  --resume-accent: #0891b2;
  --resume-header-color: #fff;
  --resume-font-family: "Roboto", sans-serif;

  --primary-color: #fff;
  --secondary-color: rgb(240 244 248);
  --background-color: #f5f4f4;
}

body {
  background-color: var(--background-color);
}

.app {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 780px) {
  .app {
    grid-template-columns: 1fr;
  }
}
